html {
    font-size: var(--size);
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans';
    justify-content: center;
}

.gameboy-body {
    background: #a15d54;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    height: 26rem;
    justify-content: center;
    width: 18rem;
    box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 1);
}

.gameboy-footer {
    color: white;
    margin-top: 6rem;
    font-family: 'Press Start 2P';
}

.gameboy-center-main {
    height: 11rem;
    width: 11rem;
    position: absolute;
    top: 15rem;
    border-radius: 0 0 1rem 1rem;
}

.gameboy-center-brand {
    text-align: center;
    border: 1px solid #b56c62;
    border-radius: 5rem;
    width: 60%;
    margin: 1rem auto 0 auto;
    font-family: 'PT Sans';
    color: #b56c62;
}

.gameboy-curve {
    background: #a15d54;
    height: 4rem;
    position: absolute;
    top: 26rem;
    bottom: 2rem;
    z-index: 4;
    width: 18rem;
    border-radius: 0 0 50% 50% / 50px;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.75)
}

.gameboy-b-contBUTTON {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: rgb(138, 6, 6);
    background: radial-gradient(circle, rgba(138, 6, 6, 1) 0%, rgba(238, 32, 10, 1) 100%);
    position: absolute;
    top: 5rem;
    margin-left: 1rem;
}

.gameboy-b-cont:after {
    content: 'HOME';
    position: absolute;
    top: 6rem;
    color: white;
    font-size: .4rem;
    margin-left: .9rem;
    margin-top: .2rem;
    font-family: 'PT Sans';
}

.gameboy-b-cont {
    background-color: #453630;
    border-radius: .5rem;
    width: 132px;
    height: 11rem;
    margin: 1rem;
    width: 100%;
}

#gameboyscreenoff {
    background-color: black;
    height: 8rem;
    margin: 2rem 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    width: 160px;
}

#gameboyscreenon {
    background-color: white;
    height: 8rem;
    margin: 2rem 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    width: 160px;
}

#babyscreen {
    display: inline-block;
    overflow: hidden;
    max-width: 120px;
    max-height: 96px;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

.gameboy-screen-curve {
    background: #453630;
    height: 4rem;
    position: absolute;
    top: 11.5rem;
    bottom: 2rem;
    z-index: 4;
    width: 16rem;
    border-radius: 0 0 70% 70% / 50px;
}

.gameboy-screen-curve::before {
    content: 'GAME BOY COLOR';
    color: rgb(216, 215, 213);
    position: absolute;
    top: 1.5rem;
    left: 3.6rem;
    font-style: italic;
    font-family: 'PT Sans';
}


/* CONTROLLERS */

.gb-up {
    position: absolute;
    width: 1.5rem;
    height: 2rem;
    top: 2rem;
    right: 10.3rem;
    background-color: #453630;
    border-radius: .3rem;
}

.gb-down {
    position: absolute;
    width: 1.5rem;
    height: 2rem;
    top: 4rem;
    right: 10.3rem;
    background-color: #453630;
    border-radius: .3rem;
}

.gb-left {
    position: absolute;
    width: 2rem;
    height: 1.5rem;
    top: 3.2rem;
    left: -2rem;
    background-color: #453630;
    border-radius: 0.3rem;
}

.gb-right {
    position: absolute;
    width: 2rem;
    height: 1.5rem;
    top: 3.2rem;
    right: 9rem;
    background-color: #453630;
    border-radius: 0.3rem;
}


/* BUTTONS */

.gb-btn-A {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #453630;
    top: 2rem;
    right: -2rem;
}

.gb-btn-B {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #453630;
    top: 4rem;
    right: 0rem;
}

.gb-letter {
    margin: .5rem;
    text-align: center;
    color: #b56c62;
}

.gb-btn-content {
    position: relative;
    margin-top: 3rem;
    margin: 4rem 2rem;
    font-size: .7rem;
}

.gb-btn-center {
    display: flex;
    justify-content: space-around;
    color: #b56c62;
}

.gb-btn-on {
    width: 3rem;
    height: 1rem;
    background-color: #453630;
    border-radius: 2rem;
}

.gameboy-center-dotted {
    position: absolute;
    top: 7rem;
    left: 10rem;
}

.gb-dotted {
    width: 3rem;
    border-bottom: 4px dotted #211a17;
    transform: rotate(150deg);
    height: .4rem;
}

#arcade {
    color: black;
    word-wrap: break-word;
    background-color: white;
    font-family: monospace;
}


#snake {
    color: rgb(138, 6, 6);
    word-wrap: break-word;
    background-color: white;
    font-family: monospace;

}

#pacman {
    color: rgb(138, 6, 6);
    word-wrap: break-word;
    background-color: white;
    font-family: monospace;

}

#game {
    color: rgb(138, 6, 6);
    word-wrap: break-word;
    background-color: white;
    font-family: monospace;

}

/* controller box */
.controller {
    border-radius: 50%;
    border: 10px solid green;
    margin: 120px;
    width: 100%
}

/* background img*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    width: 100%;
    height: 100%;
    background-image: url('https://68.media.tumblr.com/31c2caf17cb6f18ad912bfc44d9ecde6/tumblr_o71mvufacw1uaundno1_1280.gif');
    background-repeat: no-repeat;
    background-size: contain;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    background-size: cover;
}

#text {
    position: absolute;
    color: #7c91be;
    font-size: 8vw;
    font-weight: 200;
}

#playbutton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-70%, -70%);
    text-decoration: none;
    display: inline-block;
    padding: 8px 50px;
    background-color: white;
    border-radius: 50px;
    font-size: 1.4em;
    color: rgb(89, 95, 127)
}

/* Game Screen! */
#pacmanscreen {
    background-color: white;
    height: 8rem;
    margin: 2rem 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    width: 160px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#gamescreen {
    background-color: white;
    height: 8rem;
    margin: 2rem 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    width: 150px;

}

#snakescreen {
    background-color: white;
    height: 8rem;
    margin: 2rem 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    width: 160px;
}

#loading {
    background-color: white;
    height: 8rem;
    margin: 0rem 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    width: 160px;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.imgholder {
    background-color: white;
    margin-top: 40px;
    margin-left: -8px;
    max-width: 75px;
    width: 50px;
    height: 50px;
    background-size: 75px;
    text-align: center;
}

/*the NOT PACMAN GAME CALLED PACMAN LOL*/
/* #blankblank {
    background-color: red;
}

.arrowdown {
    background-image: url("https://cdn-icons-png.flaticon.com/512/608/608258.png");
} */

.scoreBoard {
    margin-top: 0px;
    text-align: center;
}

.arrowup {
    background-image: url("https://cdn-icons-png.flaticon.com/512/626/626075.png");
}

.arrowdown {
    background-image: url("https://cdn-icons-png.flaticon.com/512/608/608258.png");
}

.arrowleft {
    background-image: url("https://cdn-icons-png.flaticon.com/512/608/608283.png");
}

.arrowright {
    background-image: url("https://cdn-icons-png.flaticon.com/512/626/626043.png");
}

.gameover {
    background-image: url("https://media.istockphoto.com/id/993792306/vector/breaking-up-pixel-game-over-text.jpg?s=612x612&w=0&k=20&c=5CgB8v6Afg3t2Xw4oz5yswZOHREQSHKluq-z5O0ssbw=");
    background-repeat: no-repeat;
}

.startButton {
    display: inline-block;
}

.holder {
    margin-top: 15px;
    margin-left: 18px;
    width: 75px;
    height: 75px;
    background-size: 75px;
    text-align: center;
}